<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke</title>
</head>

<body>
    <header>
        <h1>Clarke</h1>
        <nav>
            <a href="/">Principal</a>
            <a href="/babbage">Basbbage</a>
            <a href="/berners-lee">Berners</a>
            <a href="/clarke">Clarke</a>
            <a href="/hamilton">Hamilton</a>
            <a href="/hopper">Hopper</a>
            <a href="/lovelace">Lovelace</a>
            <a href="/turing">Turing</a>
        </nav>
    </header>
</body>

</html>